body {
    font-family: Arial, sans-serif;
    transition: background-color 0.5s, color 0.5s;
}

.light-theme {
    background-color: #ffffff;
    color: #000000;
}

dark-theme {
    background-color: #000000;
    color: #ffffff;
}

.container {
    text-align: center;
    padding: 50px;
}